@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background: linear-gradient(to right, #000000, #030163);
    display: block;
    height: 100vh;
}

h1{
    font-size: 4rem;
    color: #ff4800;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

hr {
    background-color: #fff;
}

.container-fluid {
    margin-top: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container {
    color: #d7dfe4;
    margin-top: 8rem;
    padding: 3%;
    border: 6px solid white;
    border-radius: 30px;
}

.digit {
    font-size: 100px;
    font-family: "digital-7";
}

.txt {
    font-size: 30px;
    font-weight: bold;
}

#btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.btn {
    padding: 7px 25px;
    font-size: 15px;
    margin: 4px 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}

#time {
    width: 100%;
}

#laps {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}

#record-container {
    display: none;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#record-table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}

#record-table th,
td,
tr {
    text-align: center;
    border-radius: 3px;
    padding: 25px 30px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #040118;
    border: 1px solid white;

}

#record-table-body:nth-child(n + 7) {
    visibility: hidden;
}

#record-table::-webkit-scrollbar {
    width: 4px;
}

#record-table::-webkit-scrollbar-track {
    border-radius: 20px;
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#record-table::-webkit-scrollbar-thumb {
    border-radius: 20px;
    box-shadow: 0in;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#start {
    color: hsl(127, 100%, 57%);
}

#start:hover {
    color: #000000;
    background: hsl(131, 100%, 69%);
    box-shadow: 0 0 10px hsl(151, 88%, 70%), 0 0 40px hsl(159, 93%, 77%), 0 0 80px hsl(157, 96%, 72%);
    transition-delay: 0.001s;
}

#reset {
    color: hwb(277 44% 20%);
}

#reset:hover {
    color: #000000;
    background: hwb(277 6% 7%);
    box-shadow: 0 0 10px #9f2c99, 0 0 40px #481844, 0 0 80px #c18cd0;
    transition-delay: 0.001s;
}

#lap {
    color: hwb(67 20% 3%);
}

#lap:hover {
    color: #000000;
    background: hwb(61 31% 0%);
    box-shadow: 0 0 10px hwb(68 57% 0%), 0 0 40px hwb(68 54% 0%), 0 0 80px hwb(70 63% 1%);
    transition-delay: 0.001s;
}

#clearlap {
    color: rgb(255, 71, 39);
}

#clearlap:hover {
    color: #000000;
    background: rgb(255, 89, 38);
    box-shadow: 0 0 10px rgb(255, 118, 63), 0 0 40px rgb(255, 106, 103), 0 0 80px rgb(255, 137, 104);
    transition-delay: 0.001s;
}

.buttons {
    color: #fefefe;
    outline: none;
    height: 50px;
    text-align: center;
    width: 150px;
    border-radius: 55px;
    background: #8b19ae00;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 10px;
    font-family: 'Roboto';
    overflow: hidden;
    border: 2px solid white;
}

